{% extends 'base.html' %}
{% block titulo %} adm {% endblock titulo %}
{% block conteudo %}
<div class="caixa">
    <br>
    <br>
    <h2>Olá administrador {{ nome }}</h2>
    <br>
    <br>
    <a href="adm/alunos">Gerenciar alunos</a>
    <br>
    <br>
    <a href="adm/salas">Gerenciar salas</a>
    <br>
    <br>
    <a href="adm/modalidades">Gerenciar modalidades</a>
    <br>
    <br>
    <a href="adm/turmas">Gerenciar turmas</a>
    <br>
    <br>
    <a href="/adm/graficos">Gráficos</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock conteudo %}
