<!Doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Conta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Estilo.css') }}">
</head>
<body>
    <nav>
        <a href="/inicio">Início</a>
        <a href="/inicio/conta">Conta</a>
        <a href="/inicio/turmas">Turmas</a>
        <form action="/sair" method="get">
            <button type="submit" id="botaosair">Sair</button>
        </form>
    </nav>
    <div class="caixa">
    <br>
    <br>
    <br>
    <br>
    <br>
    <p align="center">
    <a href="conta/mudarSenha">Mudar senha</a>
    <br>
    <br>
    <a href="conta/mudarApelido">Mudar apelido</a>
    <br>
    <br>
        <a href="/inicio"> Voltar </a>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</body>
<footer>
    <br>
    <br>
    <h3>Sistema Academia</h3>
    <br>
    <br>
</footer>
</html>